body { padding-top: 60px; }

.more-margin-bottom {
	margin-bottom: 20px;
}

.less-padding-left {
	padding-left: 0px;
}

.popover {
	min-width: 222px;
}

.nav-pills { 
	margin-bottom: 20px;
}
.nav-pills > li > a {
	background-color: #eee;
	border: 1px solid #ddd;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
	background-color: #ddd;
}


.nav-tabs.nav-stacked {
	border-bottom: 0 none;
	border-right: 1px solid #ddd;
	min-height: 500px;
	background-image: linear-gradient(to left, #f6f6f6 0%, #fff 8px);
}
.nav-tabs.nav-stacked > li {
	margin-right: -1px;
}
.nav-tabs.nav-stacked > li > a {
	text-align: center;
	border: 1px solid #ddd transparent;
	border-radius: 4px 0 0 4px;
	margin-right: 0px;
	margin-bottom: 2px;
	border: 1px solid transparent;
}
.nav-tabs.nav-stacked > li > a:hover {
	border-right: 4px solid #aaa;
	background-color: transparent;
}
.nav-tabs.nav-stacked > li.active > a,
.nav-tabs.nav-stacked > li.active > a:hover,
.nav-tabs.nav-stacked > li.active > a:focus {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-right-color: transparent;
	box-shadow: -2px 2px 5px #eee;
	border-left-color: #09f;
	border-left-width: 4px;
}

.nav-tabs.nav-stacked > li.active > a > span:hover,
.nav-tabs.nav-stacked > li.active > a > span:focus {
	color: #428bca;
}

.task-list-red {
	border-left-color: #c30;
	border-left-width: 4px;
}

.task-list-orange {
	border-left-color: #f60;
	border-left-width: 4px;
}

.task-list-yellow {
	border-left-color: #ff6;
	border-left-width: 4px;
}

.task-list-green {
	border-left-color: #3c3;
	border-left-width: 4px;
}

.task-list-blue {
	border-left-color: #09f;
	border-left-width: 4px;
}

.task-list-indigo {
	border-left-color: #639;
	border-left-width: 4px;
}

.task-list-purple {
	border-left-color: #c0f;
	border-left-width: 4px;
}

.task-list-black {
	border-left-color: #000;
	border-left-width: 4px;
}

.task-list-darkgray {
	border-left-color: #555;
	border-left-width: 4px;
}

.task-list-gray {
	border-left-color: #999;
	border-left-width: 4px;
}