<form role="form" id="newList_form">
  <div class="form-group" width="276px">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="newList_button">新建<span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#create" class="listOp">新建</a></li>
          <li class="divider"></li>
          <li><a href="#copy" class="listOp">复制</a></li>
          <li><a href="#link" class="listOp">链接</a></li>
        </ul>
      </div>
      <input type="text" class="form-control" id="nameOrCode" name="nameOrCode" placeholder="列表名" required/>
    </div>
  </div>
  <button type="submit" id="newList_submit" class="btn btn-default btn-block">执行</button>
</form>